# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
*.classpath
*.project
*.settings
*.DS_Store
target/

# Intellij
.idea/
*.iml
*.iws

# Vscode
.vscode/

# Properties
bose.properties
